<div class="container">
	<div class="log-in-panel">
		<h1>Registration</h1>
		<form [formGroup]="myForm" ngSubmit="_formSubmit()">
			<input class="em--input" type="text" placeholder="Full Name" />

			<input class="em--input" type="text" placeholder="Login" />

			<input
				class="em--input"
				type="password"
				formControlName="pwd"
				placeholder="Choose password"
			/>
			<div
				*ngIf="myForm.controls.pwd.invalid && myForm.controls.pwd.dirty"
				class="text-danger"
			>
				<small *ngIf="myForm.controls.pwd?.errors?.required"
					>Ввод пароля обязателен!</small
				>
				<small *ngIf="myForm.controls.pwd?.errors?.minlength"
					>Пароль должен быть размером хотя бы 6 символов</small
				>
			</div>
			<input class="em--input" type="text" placeholder="Group" />

			<div class="example-button-row">
				<input
					type="submit"
					value="Register"
					class="log-inBtn"
					[disabled]="myForm.invalid"
				/>
			</div>
		</form>
		<a href="log-in">Log in</a>
	</div>
</div>
