<div class="container">
    <div class="big-panel">
        <mat-card class="card note tasks" (click)="clickTasksRout()">
            <mat-card-content>
                <p>Задания</p>
            </mat-card-content>
        </mat-card>

        <mat-card class="card note schedule" (click)="clickScheduleRout()">
            <mat-card-content>
                <p>Расписание</p>
            </mat-card-content>
        </mat-card>

        <mat-card class="card note announcements" (click)="clickAnnouncementsRout()">
            <mat-card-content>
                <p>Объявления</p>
            </mat-card-content>
        </mat-card>

        <mat-card class="card note teachers" (click)="clickTeachersRout()">
            <mat-card-content>
                <p>Преподователи</p>
            </mat-card-content>
        </mat-card>
        <!--        <mat-card class="card note" (click)="clickStudentsRout()" *ngIf="userRole==='Teacher'">-->
        <!--            <mat-card-header>-->
        <!--                <mat-card-title>-->
        <!--                    <mat-icon>group</mat-icon>-->
        <!--                    <p>Студенты</p>-->
        <!--                </mat-card-title>-->
        <!--            </mat-card-header>-->
        <!--            <mat-card-content>-->
        <!--                <p></p>-->
        <!--            </mat-card-content>-->
        <!--        </mat-card>-->
    </div>

   <!-- <div class="little-panel">
        <mat-card class="example-card notion">
            <mat-card-header>
                <mat-card-title></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p></p>
            </mat-card-content>
        </mat-card>

        <mat-card class="example-card notion">
            <mat-card-header>
                <mat-card-title></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p></p>
            </mat-card-content>
        </mat-card>

        <mat-card class="example-card notion">
            <mat-card-header>
                <mat-card-title></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p></p>
            </mat-card-content>
        </mat-card>
    </div>-->
</div>
