<div class="container">
	<div class="big-panel">
		<mat-card class="example-card note" (click)="clickTasksRout()">
			<mat-card-header>
				<mat-card-title>
					<mat-icon>task</mat-icon>
					<p>Задания</p>
				</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p></p>
			</mat-card-content>
		</mat-card>

		<mat-card class="example-card note" (click)="clickScheduleRout()">
			<mat-card-header>
				<mat-card-title>
					<mat-icon>calendar_month</mat-icon>
					<p>Расписание</p>
				</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p></p>
			</mat-card-content>
		</mat-card>

		<mat-card class="example-card note" (click)="clickAnnouncementsRout()">
			<mat-card-header>
				<mat-card-title>
					<mat-icon>campaign</mat-icon>
					<p>Объявления</p>
				</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p></p>
			</mat-card-content>
		</mat-card>

		<mat-card class="example-card note" (click)="clickTeachersRout()">
			<mat-card-header>
				<mat-card-title>
					<mat-icon>group</mat-icon>
					<p>Преподователи</p>
				</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p></p>
			</mat-card-content>
		</mat-card>
	</div>

	<div class="little-panel">
		<!-- отцентрить -->

		<mat-card class="example-card notion">
			<mat-card-header>
				<mat-card-title></mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p></p>
			</mat-card-content>
		</mat-card>

		<mat-card class="example-card notion">
			<mat-card-header>
				<mat-card-title></mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p></p>
			</mat-card-content>
		</mat-card>

		<mat-card class="example-card notion">
			<mat-card-header>
				<mat-card-title></mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p></p>
			</mat-card-content>
		</mat-card>
	</div>
</div>
