<div class="container">
	<div class="big-panel">
		<mat-card class="example-card note"
		[ngClass]="{'expanded': isPanelExpanded}"
		(click)="isPanelExpanded = !isPanelExpanded">
			<mat-card-header>
				<mat-card-title>Задания</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p></p>
			</mat-card-content>
		</mat-card>

		<mat-card class="example-card note">
			<mat-card-header>
				<mat-card-title>Расписание</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p></p>
			</mat-card-content>
		</mat-card>

		<mat-card class="example-card note">
			<mat-card-header>
				<mat-card-title>???</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p></p>
			</mat-card-content>
		</mat-card>

		<mat-card class="example-card note">
			<mat-card-header>
				<mat-card-title>Преподователи</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p></p>
			</mat-card-content>
		</mat-card>
	</div>

	<div class="little-panel">
		<!-- отцентрить -->

		<mat-card class="example-card notion">
			<mat-card-header>
				<mat-card-title></mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p></p>
			</mat-card-content>
		</mat-card>

		<mat-card class="example-card notion">
			<mat-card-header>
				<mat-card-title></mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p></p>
			</mat-card-content>
		</mat-card>

		<mat-card class="example-card notion">
			<mat-card-header>
				<mat-card-title></mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p></p>
			</mat-card-content>
		</mat-card>
	</div>
</div>
