<div class="container">
	<div class="log-in-panel">
		<h1>Registration</h1>
		<form [formGroup]="myForm" (ngSubmit)="_formSubmit()">
			<input
				class="em--input"
				type="text"
				formControlName="full_name"
				placeholder="Full Name"
				required
			/>

			<input
				class="em--input"
				type="text"
				formControlName="login"
				placeholder="Login"
				required
			/>

			<input
				class="em--input"
				type="password"
				formControlName="pwd"
				placeholder="Choose password"
				required
			/>

			<div
				*ngIf="myForm.controls.pwd.invalid && myForm.controls.pwd.dirty"
				class="text-danger"
			>
				<small *ngIf="myForm.controls.pwd?.errors?.required">
					Ввод пароля обязателен!
				</small>
				<small *ngIf="myForm.controls.pwd?.errors?.minlength">
					Пароль должен быть размером хотя бы 6 символов
				</small>
			</div>

			<input
				class="em--input"
				type="text"
				formControlName="user_group"
				placeholder="Group"
				required
			/>

			<div class="example-button-row">
				<input type="submit" value="Register" class="log-inBtn" />
			</div>
		</form>
		<a href="log-in">Log in</a>
	</div>
</div>
