<div class="container">
    <div class="container_inner">
        <div class="search">
            <h1>Список преподавателей {{user?.prefix_group + "-" + user?.code_group}}</h1>
            <input type="search" placeholder="поиск">
        </div>
        <div class="teachers">
            <div class="teacher">
                <div class="iconOfTeacher">
                </div>
                <p>Архипцева Наталья</p>
                <div class="icons">
                    <mat-icon class="icon"
                    >mail</mat-icon>
                    <mat-icon class="icon ri"
                    >telegram</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>
