:host {
    --mat-expansion-container-background-color: transparent;
    --mat-expansion-header-text-color: white;
}

th {
    margin-left: 5em;
}

p {
    width: 100%;
    margin: 0;
}

ul {
    margin-left: 0;
    margin-top: 5px;
    padding-left: 0;
}

li {
    list-style-type: none;
}

table {
    border-collapse: separate;
    border-spacing: 2em;
    color: white;
}

.bold-text {
    font-weight: 700;
}

.base-week-text {
    font-size: 18px;
}

.container {
    display: flex;
    margin-left: 10em;
    margin-top: 20px;
    align-items: center;
}

.current-info {
    width: 25em;
    height: 39em;
    background: rgba(82, 135, 173, 1);
    border-radius: 12px;
    color: white;
    text-align: center;
}

.num-of-week-label {
    font-size: 24px;
    margin: 2em 0 1em 0;
}

.num-of-week-text {
    font-size: 18px;
    background: rgba(188, 190, 238, 0.62);
    padding: 1em 0 1em 0;
}

.days-of-week td:not(:first-child) {
    border-radius: 12px;
    text-align: center;
    border: 0;
    margin-right: 3em;
}

.days-of-week td {
    width: 7em;
    height: 4em;
}

.num-lessons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 1em;
}

.num-lessons li {
    background: rgba(82, 135, 173, 1);
    margin-bottom: 10px;
    width: 5em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.lesson li {
    width: 18em;
    height: 6em;
    background: rgba(82, 135, 173, 1);
    margin-bottom: 10px;
    border-radius: 12px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
}
.lesson li:hover {
    background: rgba(82, 135, 173, 0.62);
    cursor: pointer;
    box-shadow: 0 0 5px rgba(82, 135, 173, 0.62);
    transition: 0.2s ease-in-out;
}

.lesson li p {
    font-size: 1.3em;
    width: 100%;
    height: 100%;
}

.current-day {
    color: red;
}
mat-expansion-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.num-of-week-selector .num-of-week-text {
    cursor: pointer;
}
