<div class="container" *ngIf="user">
<table>
    <thead>
    <tr>
        <th>День недели</th>
        <th>Название занятия</th>
        <th>Тип занятия</th>
        <th>Начало</th>
        <th>Конец</th>
        <th>Преподаватель</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let scheduleItem of schedule">
        <td>{{ scheduleItem.day_of_week}}</td>
        <td>{{ scheduleItem.lessonId.lesson_name }}</td>
        <td>{{ scheduleItem.lessonId.lesson_type }}</td>
        <td>{{ scheduleItem.lessonId.start_time }}</td>
        <td>{{ scheduleItem.lessonId.end_time }}</td>
        <td>{{ scheduleItem.teacherId.full_name }}</td>
    </tr>
    </tbody>
</table>
</div>
