<div class="container">
    <div class="current-info">
        <div class="num-of-week">
            <p class="num-of-week-label">Текущий номер недели:</p>
            <p class="num-of-week-text">{{ 1 }} неделя</p>
        </div>
    </div>
    <div class="main-schedule-table">
        <table>
            <thead>
            <tr>
                <th></th>
                <th *ngFor="let day of ['Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница']"
                    [ngClass]="{ 'current-day': isCurrentDay(day) }">
                    {{ day }}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let lessonNumber of [1, 2, 3, 4]">
                <td class="num-lessons">{{ lessonNumber }}</td>
                <td *ngFor="let day of ['Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница']" class="lesson">
                    <ul>
                        <li *ngFor="let schedule of getSchedulesForDayAndLesson(day, lessonNumber)">
                            <p class="lesson-name" *ngIf="schedule.lessonId">{{ schedule.lessonName }}</p>
                            <p class="lesson-teacher" *ngIf="schedule.lessonId">{{ schedule.teacherName }}</p>
                        </li>
                        <li *ngIf="!getSchedulesForDayAndLesson(day, lessonNumber).length">
                            <p class="lesson-name"></p>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
