<mat-toolbar class="toolbars">
	<div class="mat-toolbar">
		<div class="toolbar no-select">
			<span class="logo" (click)="goToBase()">Alexandria</span>
		</div>
		<div class="toolbar no-select">
			<mat-icon class="profile" [matMenuTriggerFor]="profileMenu"
				>account_circle</mat-icon
			>
		</div>
	</div>
	<div>
		<mat-menu #menu="matMenu">
			<button mat-menu-item>Пункт меню 1</button>
			<button mat-menu-item>Пункт меню 2</button>
		</mat-menu>

		<mat-menu #profileMenu="matMenu">
			<button mat-menu-item (click)="profileIn()">Мой профиль</button>
			<button mat-menu-item (click)="logout()">Выйти</button>
		</mat-menu>
	</div>
</mat-toolbar>
