<div class="container" *ngIf="user">
	<div class="container_inner">
		<div class="profile_info">
			<div class="img-container">
				<div class="img_profile"></div>
				<div class="overlay" id="overlay">
					<span class="text">Изменить</span>
				</div>
			</div>

			<div class="info_about">
				<p>Имя аккаунта: {{ user.full_name }}</p>
				<p>Логин: {{ user.login }}</p>
				<p>Группа: {{ user.user_group }}</p>
				<p>Классный руководитель: -</p>
				<button class="bnt_change">Поменять пароль</button>
			</div>
		</div>
		<div class="theme_profile">
			<h3>Добавь тему на задний фон</h3>
			<div class="pictures">
				<div class="picture">
					<img
						src="https://cs14.pikabu.ru/post_img/big/2023/02/13/8/1676295806139337963.png"
						alt=""
					/>
				</div>
				<mat-icon class="add_icon">add_box</mat-icon>
			</div>
		</div>
	</div>
</div>
