<!--<div class="container" *ngIf="user">
    <div class="container_inner">
        <div class="profile_info">
            <div class="img-container">
                <div class="img_profile"></div>
                <div class="overlay" id="overlay">
                    <span class="text">Изменить</span>
                </div>
            </div>
            <div class="info_about">
                <p>Имя аккаунта: {{ user.full_name }}</p>
                <p>Логин: {{ user.login }}</p>
                <p>Группа: {{ user.group_name }}</p>
                <button class="bnt_change" (click)="openChangePasswordDialog()">Изменить пароль</button>
                <button class="btn_delete" (click)="deleteAccount()">Удалить аккаунт</button>
            </div>
        </div>
        <div class="groups_selector" *ngIf="!user.group_name">
            <h3>Выберите группы, у которых вы преподаете:</h3>
            <ul>
                <li *ngFor="let group of groups">
                    <label>
                        <input type="checkbox" [(ngModel)]="group.selected"/>
                        {{ group.name }}
                    </label>
                </li>
            </ul>
        </div>
    </div>
</div>-->
