.container{
    width:100%;
    display: flex;
    justify-content: center;
}

.container_inner{
    margin-top: 2.5em;
    width: 1280px;
    height: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
}

/*-------------Фото---------- */
.img-container{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgba(217, 217, 217, 1);
    display: inline-block;
    margin: 0 3em 0 2em;
}

.img_profile {
    background-size: cover;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    font-weight: bold;
}

.text {
    color: white;
    font-size: 24px;
}
.text:hover {
    cursor: pointer;
    user-select: none;
}
.img-container:hover .overlay {
    opacity: 1;
}

/*-------------Сам профиль---------- */
.profile_info{
    width: 60em;
    height:20em;
    display: flex;
    align-items: center;
    background:rgba(11, 59, 95, 1);
    border-radius: 8px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
    margin: 0 15px 15px 0;
    padding:0;
    font-size: 18px;
}

.bnt_change{
    border:0;
    background: rgb(11, 97, 95);
    height: 2em;
    border-radius: 8px;
    width: 10em;
    color: white;
    font-size: 18px;
}

.bnt_change:hover{
    background: rgb(8, 77, 75);
    cursor: pointer;
}

/*-------------Группы---------- */

.groups_selector{
    width: 26em;
    background: rgba(11, 59, 95, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    text-align: center;
}
